body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 30px 40px;
}

.rankingPosition {
  display: flex;
}

.playerName {
  margin: 0;
  padding: 0 10px;
  font-weight: bold;
}
